<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>215BAB2C1C52B0C400118C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215BAB361C52B0C400118C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215BAB4B1C52B18B00118C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>215BAB541C52B18C00118C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21632CE91C9235E400C40D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21632D151C92366600C40D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21632D1E1C92366600C40D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
